/* General styles, mobile first */
* {
	box-sizing:border-box;
}

body {
	font-size:100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color:#333;
	background-color: #fff;

}
#loader {
  width: 100%;
  height: 100%;
  top: 50%
  left: 50%;
  position: fixed;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
#loader-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
.hidden
{
    display: none;
}
h1 {
}
p {
}

a {
	font-weight:bold;
	color:#325fba;
	-webkit-transition:all .5s ease;
}
a:hover {
	color:#ffb400;
	background-color: #f4f4f4;
}

nav {
	position: relative;
	padding-top:1px;
    top: auto;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #222;
}

nav ul li {
        display: inline;
        list-style-type: none;
}

nav ul li a {
		padding:3%;
		padding-top: 1em;
        width: 30%;
        line-height: 1em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        color: #2156a5;
}
		ul li:last-child a {
			padding: 0;
		}



/* header section */
header {
	background-color: #555555;
	position:relative;
	clear: both;
	
}
	header img {
		width:50px;
		
		-webkit-transition:all 1s ease;
	}
	header img:hover {
		opacity:.5;
	}
	header h1 {
		text-align: right;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		color:white;
		font-size: 1.6em;
		margin-right: 1em;
	}

/* Content section */
article#content {
	clear:left;
}
	article > section {
		display:none;
		margin: 0 auto;
	}
	article > section.active {
		display:block;
		padding: auto;
		margin: 0 auto;
	}
	article h1 {
		margin-bottom: .5em;
	}

	article ul {
		list-style: none;
		margin-bottom:3em;
	}

table {
	font-size: 0.8em;
}
	table td{
	text-align: left;
	}
	table td:last-of-type{
		text-align: right;
	}
	table tr {
	text-align: left;
	line-height: 2em;
	}

thead td {
	font-size: 0.7em;
	padding-right: 1em;
}

table td:first-of-type{ 
	text-align:left;
}

.editScore{ 
	float:right;
}

.close{
	float:right;
}

/* Dead Simple Grid (c) 2012 Vladimir Agafonkin */

.col {
	padding: 0 0.5em;
}
.row .row {
	margin: 0 -.5em;
}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

@media only screen {
	.col {
		float: left;
		width: 100%;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* Styles */
	.col {
		width:50%;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
}
/**********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	nav {
		position:relative;
		padding:.2em;
	}
		nav ul li {
			display:inline-block;
			margin-right:.3em;

		}
			nav ul li a {
				font-weight: normal;
				display: inline-block;
				background:#eee;
				padding:5px 10px;
				color:#333;
				text-decoration: none;
				border-radius: 5px;
				-webkit-transition:all .2s ease;
				border:none;
			}
			nav ul li a:hover {
				background:#e0e0e0;
				box-shadow:0 0 5px #aaa;
				color:#333;
			}

	.col {
		width:50%;
	}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}